

h4{
  font-size: 30px;
  margin-left: 550px;
}
h6{
  font-size: 15px;
margin-left: 510px;
margin-top: 10px;
}
input{
  margin-left: 500px;
  width:400px;
}
button{
  margin-left: 40px;
  width:150px;
  margin-bottom: 100px;
}
